application:
  datasource:
    mysql:
      url: jdbc:mysql://localhost:3306/datasync
      username: your_mysql_username
      password: your_mysql_password

    sqlite:
      url: jdbc:sqlite:db/sqlite.db?journal_mode=WAL&busy_timeout=5000

  redis:
    master:
      host: localhost
      port: 6379
      password: your_redis_password
    slave:
      host: localhost
      port: 6380
      password: your_redis_password

  aws:
    s3:
      accesskey: your_s3_access_key
      secretkey: your_s3_secret_key
      region: auto
      endpoint: https://your-s3-endpoint
      bucket: your-bucket-name
      path-style-access: true

  netty:
    server:
      port: 8443
      basePath: /path/to/server/storage
    client:
      port: 8443
      host: localhost

  jwt:
    secretkey: your_base64_encoded_jwt_secret_at_least_256bits
    freshTokenExpiration: 2592000000   # 30 days in ms
    accessTokenExpiration: 25920000000 # 300 days in ms
    token-name: Authorization
    uid: uid
    role: role

  mybatis:
    type-aliases-package: backend.model.entity
    configuration:
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
